<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>Welcome to the My Debts</h1>

  <h2>
    by <%= link_to "Bobby LE", "http://www.bobbyle.net/" %></p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

