<footer class="footer">
  <small>
    <a href="http://my-debts.herokuapp.com/">My Debts</a>
    by <a href="http://www.bobbyle.net" target="_blank">Bobby LE</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>